
.lang:hover{
    color:#B7B6ED;
}

.social:hover{
    color:#B7B6ED;
}

*{
    scroll-behavior: smooth;
}

.scrollTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    border-radius: 1px solid #fff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollTop:hover{
    background-color: #f7f7f7;
    color: #000;
}

/* p {
    height: 4rem;
    display: flex;
    overflow: hidden;
    margin-bottom: 0.5 rem; 
    justify-content: flex-end;
}

p span {
    display: block; 
    line-height: 4rem; 
    font-size: 4rem;
    text-transform: uppercase;
    transform: translateY(200%);
    margin: 0.05rem;
}

p span.active {
transform: translateY(0%);
transition: 1s ease-out;
} */

body {
    font-family: 'Mukta', sans-serif;
    background-color: #000000;
}

section {
    background-color: rgb(0, 0, 0);
}

.hero {
    background-color: #000000;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.hero2 {
    background-color: #000000;
    height: 1800px;
    color: #B7B6ED;
}

.hero3 {
    background-color: #000000;
    height: flex;
    color: #B7B6ED;
}

footer {
    background-color: #000000;
    color: #B7B6ED;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 40px;
    display: center;
    color: #B7B6ED;
}

h3 {
    font-size: 38px;
    font-weight: 300;
    color: white;
    margin-top: -50px;
}

h4 {
    font-size: 60px;
}

h5 {
    font-size: 50px;
}

h6 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: -80px;
}

h7 {
    font-size: 30px;
}

h8 {
    font-size: 35px;
}

h9 {
    font-size: 38px;
    font-weight: 300;
    color: white;
    margin-bottom: -150px;
}

p0 {
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    color: #B7B6ED;
}

p {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
}

.p2 {
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 60px;
    margin-right: 120px;
    margin-left: 120px;
}

p3 {
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    color: #000000;
}

p31 {
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    color: #C6C3BF;
}

p4 {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    color: white;
}

p5 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

p6 {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    color: #B7B6ED;
}

p7 {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.subtext {
    font-size: 19px;
    font-weight: 300;
    padding: 20px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button2 {
    width: 200px;
    height: 55px;
    border-radius: 50px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
    margin-bottom: -50px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.flags-video {
    padding: 10px;
    margin-left: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}


.headshot {
    width: 330px;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 30px;
}

.expics {
    width: 600px;
    border-radius: 20px;
    margin-top: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.project-card {
    width: 400px;
    height: 600px;
    border-radius: 50px;
    box-shadow: 5px 5px 200px #B7B6ED;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
}

.maps-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.city {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    justify-content: space-around;
    text-align: center;
}

.project-card:hover{
    box-shadow: 5px 5px 20px #B7B6ED;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-card2 {
    width: 600px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgb(208, 208, 208);
    justify-content: space-around;
    text-align: center;
    margin: 10px;
}

.project-container2 {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
    .project-container2 {
        display: flex;
        flex-wrap: wrap;
    }
    .logo-video {
        margin-top: -150px;
        margin-left: 150px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .archpdf {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.logo-video {
    margin-top: -150px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 500px;
    border-radius: 100px;
    margin-right: -100px;
    margin-top: -30px;
}

.project-image {
    margin-top:25px;
    width: 250px;
    border-radius: 20px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.hr2 {
    margin-left: 100px;
    margin-right: 100px;
}

.project-link{
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.archpdf {
    margin-left: 10vh;
    margin-right: 10vh;
    padding-top: 100px;
}

.codepage{
    margin-top: 26px;
    margin-right: 140px;
    margin-left: 140px;
}

.backhome {
    text-decoration: none;
    color: white;
}

.cad-video {
    margin-top: -200px;
    margin-bottom: -280px;
    display: center;
    align-items: flex;
    flex-wrap: wrap;
}

.intro {
    background: #B7B6ED;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: #B7B6ED;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
  
.intro-text {
    color: rgb(255, 255, 255);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}
  
.hide {
    background: #B7B6ED;
    overflow: hidden;
}
  
.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.infill{
    color:#B7B6ED;
}
